@import "tailwindcss";

:root {
    --primary-bg-color: #ffffff;
    --box-shadow-color: rgba(0, 0, 0, .1);
    --header-shadow: 0 2px 20px 0px;
    --primary-text-color: #3c3c43;
    --secondary-text-color: #d2d7da;
    --primary-hover-text-color: #18796a;
    --btn-bg-color: rgba(0, 0, 0, .2);
    --pop-btn-bg-color: #f6f6f7;
}

:root body[data-theme="dark"] {
    --primary-bg-color: #111827;
    --box-shadow-color: #000000;
    --header-shadow: 0 2px 0 0px;
    --primary-text-color: #d9e6eb;
    --secondary-text-color: #858585;
    --primary-hover-text-color: #ffd859;
    --btn-bg-color: rgba(250, 250, 250, .2);
    --pop-btn-bg-color: #0d121b;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.pop-btn {
    display: inline-block;
    border: 1px solid transparent;
    background-color: var(--pop-btn-bg-color);
    padding: .4rem 1.2rem;
    border-radius: .4rem;
    transition: all .3s;
}

.pop-btn:hover {
    border-color: var(--primary-hover-text-color);
}