@import "tailwindcss";

html {
    font-size: .95vw;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 2vw;
    }
}

:root {
    --primary-bg-color: #ffffff;
    --reverse-bg-color: #111827;
    --box-shadow-color: rgba(0, 0, 0, .1);
    --header-shadow: 0 2px 20px 0px;
    --primary-text-color: #3c3c43;
    --sub-text-color: #737373;
    --secondary-text-color: #d2d7da;
    --secondary-bg-color: #f1f1f1;
    --primary-hover-text-color: #18796a;
    --secondary-hover-text-color: #56b3a3;
    --btn-bg-color: rgba(0, 0, 0, .2);
    --pop-btn-bg-color: #f6f6f7;
}

:root body[data-theme="dark"] {
    --primary-bg-color: #111827;
    --reverse-bg-color: #ffffff;
    --box-shadow-color: #000000;
    --header-shadow: 0 2px 0 0px;
    --primary-text-color: #d9e6eb;
    --sub-text-color: #737373;
    --secondary-text-color: #858585;
    --secondary-bg-color: #686868;
    --primary-hover-text-color: #ffd859;
    --secondary-hover-text-color: #c7b063;
    --btn-bg-color: rgba(250, 250, 250, .2);
    --pop-btn-bg-color: #0d121b;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.pop-btn,
.pop-primary-btn {
    cursor: pointer;
    display: inline-block;
    border: 1px solid transparent;
    padding: .4rem 1.2rem;
    border-radius: .4rem;
    transition: all .3s;
}

.pop-btn {
    background-color: var(--pop-btn-bg-color);
}

.pop-primary-btn {
    color: white;
    background-color: var(--primary-hover-text-color);
}

.pop-btn:hover {
    border-color: var(--primary-hover-text-color);
}

.pop-primary-btn:hover {
    filter: hue-rotate(15deg)
}

.show-link-color a {
    color: var(--primary-hover-text-color)
}

.show-link-color a:hover {
    text-decoration: underline var(--primary-hover-text-color)
}

.min-full-screen {
    min-height: calc(100vh - 3.4rem);
}

.full-screen {
    height: calc(100vh - 3.4rem);
}